@charset "UTF-8";
@font-face {
  font-family: 'GT Walsheim';
  src: url("../fonts/GTWalsheimv2Manual-Regular.eot");
  src: url("../fonts/GTWalsheimv2Manual-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/GTWalsheimv2Manual-Regular.woff2") format("woff2"), url("../fonts/GTWalsheimv2Manual-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GT Walsheim';
  src: url("../fonts/GTWalsheimv2Manual-Black.eot");
  src: url("../fonts/GTWalsheimv2Manual-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/GTWalsheimv2Manual-Black.woff2") format("woff2"), url("../fonts/GTWalsheimv2Manual-Black.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'GT Walsheim';
  src: url("../fonts/GTWalsheimv2Manual-Bold.eot");
  src: url("../fonts/GTWalsheimv2Manual-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GTWalsheimv2Manual-Bold.woff2") format("woff2"), url("../fonts/GTWalsheimv2Manual-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

h1, h2, h3 {
  font-weight: normal; }

h1, h2, h3, h4, h5, p, a {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin-bottom: 0;
  margin-top: 0; }

.container {
  font-family: 'GT Walsheim';
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1360px;
  padding: 0 30px;
  margin: 0 auto; }


.inner {
  font-family: 'GT Walsheim';
  max-width: 940px;
  margin: 0 auto; }

.hidden {
  display: none; }

@media (max-width: 768px) {
  .container {
    padding: 0 20px; } }

/*! normalize.css v2.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

.button {
  padding: 15px 25px;
  font-size: 16px;
  color: #FFFFFF;
  border-radius: 100px;
  cursor: pointer;
  user-select: none;
  border: none;
}

.button:active, .button:focus {
  border: none;
  outline: none;
}
  .button_violet {
    background: #731982; }
  .button_green {
    background: #28B93C; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

.opacity {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #731982;
  opacity: .4;
  z-index: 101; }

.video-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 1000; }
  .video-container.video-container-visible {
    display: flex; }
  .video-container .video-container-close {
    position: fixed;
    top: 16px;
    right: 16px;
    z-index: 10000;
    color: #FFFF;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase; }
  .video-container #youtube-video-player {
    width: 100%;
    height: 100%; }
  .video-container iframe {
    width: 100%;
    height: 100%; }

.head {
  position: relative;
  min-height: 600px;
  background: url("../images/megafon2.gif") no-repeat center/cover; }
  .head .container {
    display: flex;
    flex-flow: column nowrap; }
  .head .inner {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 600px;
    width: 100%;
    position: relative;
    z-index: 105; }

.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 105; }
  .header__phone {
    font-size: 16px;
    color: #FFFFFF; }
  .header__logo img {
    width: 200px; }

.head-text {
  max-width: 530px; }
  .head-text__green-txt {
    font-size: 32px;
    color: #28B93C; }
  .head-text__main-txt {
    font-size: 40px;
    color: #FFFFFF;
    margin-top: 10px; }
    .head-text__main-txt span {
      font-weight: bold; }

.head-buttons {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 25px; }
  .head-buttons__button {
    display: flex;
    flex-flow: row nowrap;
    align-items: center; }
    .head-buttons__button img {
      margin-right: 10px; }
    .head-buttons__button:not(:first-child) {
      margin-left: 20px; }
    .head-buttons__button_play {
      color: #fff;
      cursor: pointer;
      user-select: none; }

.career {
  padding-top: 100px; }
  .career__title {
    font-size: 32px;
    color: #000000; }
    .career__title span {
      color: #28B93C; }
  .career__description {
    font-family: Arial;
    font-size: 18px;
    color: #888888;
    margin-top: 35px; }
  .career__button {
    display: inline-block;
    margin-top: 32px; }

.career-list,
.pick-text-list {
  margin-top: 24px; }
  .career-list__item,
  .pick-text-list__item {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #000000;
    letter-spacing: 0;
    padding-left: 25px;
    position: relative;
    margin-top: 16px; }
    .career-list__item::before,
    .pick-text-list__item::before {
      background: #5E1788;
      content: '';
      width: 8px;
      height: 8px;
      position: absolute;
      top: 6px;
      left: 0;
      border-radius: 50%; }

.company {
  padding-top: 100px; }
  .company__title {
    font-size: 32px;
    color: #000000; }
  .company__items {
    display: flex;
    flex-flow: row wrap;
    margin-top: 25px; }

.company-item {
  width: 25%;
  margin-top: 40px;
  min-height: 167px; }
  .company-item__description {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #888888;
    line-height: 26px;
    margin-top: 24px; }

.starts {
  padding-top: 100px; }
  .starts__title {
    font-size: 32px;
    text-align: center;
    font-weight: bold; }
    .starts__title span {
      color: #28B93C; }
  .starts__items {
    margin-top: 55px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center; }
  .starts__item {
    width: 216px;
    height: 216px;
    background: #73207F;
    border-radius: 50%;
    position: relative;
    overflow: hidden; }
    .starts__item img {
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%); }
    .starts__item:not(:last-child) {
      background: #28B93C;
      margin-right: 30px; }

    .starts__item:first-child {
      margin-left: 0;
    }
  .starts__button-wrapper {
    text-align: center; }
  .starts__button {
    margin-top: 56px;
    display: inline-block; }

.pick-yours {
  padding-top: 100px; }
  .pick-yours__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center; }
  .pick-yours__right {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    flex: 1; }
  .pick-yours__title {
    font-size: 32px;
    color: #000000;
    line-height: 40px;
    flex: 1; }
    .pick-yours__title span {
      color: #28B93C; }
  .pick-yours__posible {
    font-size: 14px;
    color: #6B696C;
    border-bottom: 1px solid #6B696C;
    cursor: pointer;
    user-select: none; }
  .pick-yours__cards {
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px; }

.city-select {
  width: 32%;
  position: relative; }
  .city-select__select {
    width: 100%;
    border-radius: 0;
    border: 1px solid #CDCDCD;
    background: transparent;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    padding: 15px; }
  .city-select::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 5px;
    background: url("../images/dropdown.svg") no-repeat center/contain;
    right: 15px;
    top: 52%;
    transform: translateY(-50%); }

.pick-card {
  width: calc(33.3% - 14px);
  background: #28B93C;
  padding: 25px;
  border-radius: 3px;
  min-height: 165px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between; }
  .pick-card:not(:nth-child(3n + 1)) {
    margin-left: 20px; }
  .pick-card:nth-child(n + 4) {
    margin-top: 20px; }
  .pick-card__title {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 20px; }
  .pick-card__footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center; }
  .pick-card__icon {
    margin-top: 10px; }
  .pick-card__button {
    font-size: 14px;
    padding: 12px 25px; }

.pick-text {
  padding-top: 80px; }
  .pick-text__description {
    font-family: Arial;
    font-size: 18px;
    color: #888888;
    margin-top: 35px;
    line-height: 26px; }
  .pick-text__title {
    font-size: 32px;
    color: #000000; }
  .pick-text__txt {
    margin-top: 32px;
    font-size: 18px; }
  .pick-text__hr {
    width: 100%;
    border-bottom: 1px solid #D3D3D3;
    margin-top: 40px; }
  .pick-text__gray-text {
    margin-top: 16px;
    font-size: 16px;
    color: #9B9B9B; }
  .pick-text__button {
    display: inline-block;
    margin-top: 40px; }

.slider-wrapper {
  padding-top: 80px;
  padding-bottom: 60px; }
  .slider-wrapper__slider {
    padding: 0 25px; }
  .slider-wrapper .slick-prev::before {
    content: '';
    background: url("../images/arrow-left.svg") no-repeat center/contain;
    width: 10px;
    height: 20px;
    display: inline-block; }
  .slider-wrapper .slick-next::before {
    content: '';
    background: url("../images/arrow-right.svg") no-repeat center/contain;
    width: 10px;
    height: 20px;
    display: inline-block; }

.slider__counter {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #888888;
  margin-left: 25px;
  margin-top: 25px; }

.slider__curr {
  margin-right: 5px; }

.slider__amount {
  margin-left: 5px; }

.footer {
  background: #731982;
  padding: 35px 0; }
  .footer__title {
    font-size: 24px;
    color: #FFFFFF;
    line-height: 32px; }
  .footer__write a {
    color: #FFF;
    text-decoration: none;
  }
  .footer__call a {
    color: #FFF;
    outline: none; }
  .footer__bottom {
    margin-top: 35px;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 24px; }

@media (max-width: 768px) {


  .inner {
    padding: 0 30px; }
  .slider-wrapper__slider {
    padding: 0 10px; }
  .slick-slide img {
    width: 100%; }
  .slick-prev,
  .slick-next {
    display: none; }
  .company__item {
    width: 50%; }
  .pick-yours__cards {
    margin-top: 6px; }
  .pick-yours__header {
    display: block; }
  .pick-yours__right {
    margin-top: 16px; }
  .pick-yours__card {
    width: calc(50% - 10px);
    margin-left: 0;
    margin-top: 20px; }
  .pick-card:not(:nth-child(3n+1)) {
    margin-left: initial; }
  .pick-yours__card:nth-child(even) {
    margin-left: 20px; } }

@media (max-width: 425px) {
  .pick-yours__right {
    display: block;
  }

  .city-select {
    margin-top: 16px;
  }

  .company__item {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .company-item__description br {
    display: none; }
  .starts__item {
    width: 80px;
    height: 80px; }
  .starts__item img {
    width: 100%; }
  .starts__item:not(:first-child) {
    margin-right: 20px; }
  .pick-yours__title,
  .company__title,
  .career__title,
  .pick-text__title {
    font-size: 24px;
    line-height: 32px; }
  .pick-yours__select {
    width: 100%; }
  .pick-yours__posible {
    display: none; }
  .pick-yours__card {
    width: 100%;
    margin-left: 0 !important; }
  .slick-prev,
  .slick-next {
    display: none !important; }
  .slider__counter {
    margin-left: 12px; }
  .footer__bottom {
    display: block; }
  .header {
    padding: 40px 30px; }
  .header__logo {
    width: 110px; }
    .header__logo img {
      width: 100%; }
  .head .inner {
    padding: 10px; }
  .head-text__green-txt,
  .head-text__main-txt {
    font-size: 24px; }
  .head-text__buttons {
    display: block; }
  .head-buttons__button.button_violet {
    justify-content: center; }
  .head-buttons__button:not(:first-child) {
    margin-left: 0;
    margin-top: 16px; } }

/*# sourceMappingURL=app.css.map*/
